<div class="top-bar">
  <div class="expanded row column">
    <ul class="menu top-bar__menu">
      <li>
        <a href="#">Procesos</a>
      </li>
      <li>
        <a href="#">Páginas</a>
      </li>
      <li>
        <a href="#">Usuarios</a>
      </li>
      <li>
        <a href="#">Configuración</a>
      </li>
    </ul>
</div>
</div>
