<%= partial 'partials/main_nav' %>
<div class="secondary-nav">
  <div class="secondary-nav__title">
    Procesos
  </div>
  <div class="secondary-nav__actions">
    <a href="/processes-new" class="button expanded small">Añadir proceso</a>
  </div>
</div>
