<ul class="secondary-nav vertical menu">
  <li>
    <a href="/process-info">Información</a>
  </li>
  <li>
    <a href="/process-components">Componentes</a>
  </li>
  <li>
    <a href="/process-categories">Categorías</a>
  </li>
  <li>
    <a href="/process-docs">Documentos</a>
  </li>
  <li>
    <a href="/process-admin">Administradores</a>
  </li>
</ul>
