<%= partial 'partials/main_nav' %>
<div class="secondary-nav secondary-nav--subnav">
  <ul>
    <li <% if current_page.data.activepage == "scope-browse" %>
     class="is-active"
    <% end %> >
      <a href="/scope-browse">Navegar</a>
    </li>
    <li <% if current_page.data.activepage == "scope-edit" %>
     class="is-active"
    <% end %> >
      <a href="/scope-edit">Modificar</a>
    </li>
  </ul>
</div>
