<ul class="secondary-nav vertical menu">
  <li>
    <a href="#">Información</a>
  </li>
  <li>
    <a href="#">Pasos</a>
  </li>
  <li>
    <a href="#">Componentes</a>
  </li>
  <li>
    <a href="#">Categorías</a>
  </li>
  <li>
    <a href="#">Documentos</a>
  </li>
  <li>
    <a href="#">Administradores</a>
  </li>
</ul>
