<%= partial 'partials/main_nav' %>
<div class="secondary-nav">
  <div class="secondary-nav__title">
    Configuración
  </div>
  <ul>
    <li>
      <a href="/settings">Configuración</a>
    </li>
    <li>
      <a href="/settings-scopes">Scopes</a>
    </li>
  </ul>
</div>
