<%= partial 'partials/main_nav' %>
<div class="secondary-nav">
  <div class="secondary-nav__title">
    Configuración
  </div>
  <ul>
    <li <% if current_page.data.activepage == "settings" %>
     class="is-active"
    <% end %> >
      <a href="/settings">Configuración</a>
    </li>
    <li <% if current_page.data.activepage == "settings-scopes" %>
     class="is-active"
    <% end %> >
      <a href="/settings-scopes">Ámbitos</a>
    </li>
    <li <% if current_page.data.activepage == "settings-scope-types" %>
     class="is-active"
    <% end %> >
      <a href="/settings-scope-types">Tipos de ámbito</a>
    </li>
  </ul>
</div>
