<div class="title-bar">
  <a href="#menu" class="menu-trigger"><%= icon "menu" %></a>
  <a href="/" class="logo">
    <img src="/images/logo.svg" alt="Ajuntament">
  </a>
  <div class="user-login">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="is-dropdown-submenu-parent">
        <a href="#">Lorena Ipsum</a>
        <ul class="menu is-dropdown-submenu">
          <li><a href="#">Salir</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
