<div class="title-bar">
  <a href="/" class="logo">
    <img src="/images/logo.svg" alt="Ajuntament">
  </a>
  <div class="user-login">
        <a href="#">Lorena Ipsum</a>
        <a href="#">Salir</a>
  </div>
</div>
