<!-- Topbar -->
<div class="title-bar">
  <div class="expanded row">
    <div class="columns small-6">
      <a href="/" class="logo">
        <img src="/images/logo.png" alt="Ajuntament">
      </a>
    </div>
    <div class="columns small-6 text-right">
      <div class="user-login">
        <ul class="dropdown menu" data-dropdown-menu>
          <li>
            <a href="#">Lorena Ipsum</a>
            <ul class="menu">
              <li><a href="#">Salir</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
