<%= partial 'partials/main_nav' %>
<div class="secondary-nav">
  <div class="secondary-nav__title">
    Usuarios
  </div>
  <ul>
    <li>
      <a href="/users">Administradores</a>
    </li>
    <li>
      <a href="/users-groups">Grupos de usuarios</a>
    </li>
  </ul>
</div>
