---
title: Decidim Admin
activesection: home
---

<%= partial 'partials/template_top' %>
<div class="layout-nav">
  <%= partial 'partials/home_nav' %>
</div>
<div class="layout-content">
  <%= partial 'partials/callouts_full' %>
  <div class="container">
    <h1>Decidim Admin</h1>
    <p>
      A possible place for a Dashboard.
    </p>
  </div>
</div>
<%= partial 'partials/template_bottom' %>
