---
title: Decidim Admin
---

<%= partial 'partials/template_top' %>

<main class="main">
  <div class="row collapse">
    <div class="row column">
      <div class="container">
        <h1>Decidim Admin</h1>
        <p>
          A possible place for a Dashboard.
        </p>
      </div>
    </div>
  </div>
</main>
