---
title: Decidim Admin
---
<main class="main">
  <div class="row collapse">
    <div class="columns medium-8 large-10">
      <div class="row column">
        <div class="container">
          <h1>Decidim Admin</h1>
          <h2>Plantillas disponibles</h2>
          <ul class="vertical menu">
            <li>
              <a href="/home">Home</a>
            </li>
            <li>
              <a href="/processes">Procesos</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
