---
title: Decidim Admin
---
<main class="main">
  <div class="row collapse">
    <div class="columns medium-8 large-10">
      <div class="row column">
        <div class="container">
          <h1>Decidim Admin</h1>
          <h2>Plantillas disponibles</h2>
          <h3>Páginas principales</h3>
          <ul>
            <li>
              <a href="/home">Inicio</a>
            </li>
            <li>
              <a href="/processes">Procesos</a>
            </li>
            <li>
              <a href="/pages">Páginas</a>
            </li>
            <li>
              <a href="/users">Usuarios</a>
              <ul>
                <li>
                  <a href="/users-groups">Grupos de usuarios</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/settings">Configuración</a>
              <ul>
                <li>
                  <a href="/settings-scopes">Ámbitos</a>
                </li>
                <li>
                  <a href="/settings-scope-types">Tipos de Ámbitos</a>
                </li>
              </ul>
            </li>
          </ul>

          <h3>Nuevo proceso</h3>
          <ul>
            <li>
              <a href="/processes-new">Nuevo proceso - Información</a>
            </li>
            <li>
              <a href="/processes-new-2">Nuevo proceso - Fases</a>
            </li>
            <li>
              <a href="/processes-new-3">Nuevo proceso - Componentes</a>
            </li>
            <li>
              <a href="/processes-new-3-add">Nuevo proceso - Añadir componente y componente completado (plegado)</a>
            </li>
          </ul>
          <h3>Páginas de proceso</h3>
          <ul>
            <li>
              <a href="/process-info">Información</a>
            </li>
            <li>
              <a href="/process-steps">Fases</a>
              <ul>
                <li>
                  <a href="/process-steps-new">Nueva fase</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/process-components">Componentes</a>
              <ul>
                <li>
                  <a href="/component-meetings">Componentes: Encuentros</a>
                </li>
                <li>
                  <a href="/component-proposals">Componentes: Propuestas</a>
                </li>
                <li>
                  <a href="/component-results">Componentes: Debates</a>
                </li>
                <li>
                  <a href="/component-results">Componentes: Resultados</a>
                </li>
                <li>
                  <a href="/component-budgets">Componentes: Presupuestos</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/process-pages">Páginas</a>
            </li>
            <li>
              <a href="/process-categories">Categorías</a>
            </li>
            <li>
              <a href="/process-docs">Documentos</a>
            </li>
            <li>
              <a href="/process-moderations">Denuncias</a>
            </li>
            <li>
              <a href="/process-admin">Administradores</a>
            </li>
          </ul>
          <h3>Patrones y casos de uso</h3>
          <ul>
            <li>
            <a href="/form-with-validation">Formulario con validaciones</a>
            </li>
            <li>
            <a href="/form-with-datepicker">Formulario con calendario/datepicker</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
