---
title: Decidim Admin
---

<%= partial 'partials/template_top' %>

<main>
  <div class="row collapse">
    <div class="columns large-12">
      <h1>Decidim Admin</h1>
      <p>
        Empty template.
      </p>
    </div>
  </div>
</main>

<%= partial 'partials/template_bottom' %>
