---
title: Decidim Admin
---

<%= partial 'partials/template_top' %>

<main class="main">
  <div class="row collapse">
    <div class="row column">
      <div class="container">
        <h1>Páginas</h1>
        <table class="table-list">
          <thead>
            <tr>
              <th>Título</th>
              <th class="table-list__actions">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a href="/process-info">
                  Proposa, prioritza i decideix sobre el pressupost del districte de l’Eixample
                </a>
              </td>
              <td class="table-list__actions">
                <a href="#" class="action-icon"><%= icon "pencil" %></a>
                <a href="#" class="action-icon"><%= icon "eye" %></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
