---
title: Decidim Admin
activesection: processes
activepage: process-admin
---

<%= partial 'partials/template_top' %>
<div class="layout-nav">
  <%= partial 'partials/process_sub_nav' %>
</div>
<div class="layout-content">
  <div class="container">
    <h1>Administradores</h1>
  </div>
</div>
<%= partial 'partials/template_bottom' %>
