---
title: Decidim Admin
---

<%= partial 'partials/template_top' %>

<main class="main">
  <div class="row collapse expanded">
    <div class="columns medium-4 large-2">
      <%= partial 'partials/secondary_nav' %>
    </div>
    <div class="columns medium-8 large-10">
      <div class="row column">
        <div class="container">
          <h1>Procesos participativos</h1>
          <table>
            <thead>
              <tr>
                <th>Dest.</th>
                <th>Título</th>
                <th>Publicado</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= icon "star", class: "icon--outline" %></td>
                <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
                <td>Content Goes Here</td>
                <td>Content Goes Here</td>
              </tr>
              <tr>
                <td>Content Goes Here</td>
                <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                <td>Content Goes Here</td>
                <td>Content Goes Here</td>
              </tr>
              <tr>
                <td>Content Goes Here</td>
                <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                <td>Content Goes Here</td>
                <td>Content Goes Here</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
