---
title: Decidim Admin
activesection: settings
activepage: settings-scopes
---

<%= partial 'partials/template_top' %>
<div class="layout-nav">
  <%= partial 'partials/settings_nav' %>
</div>
<div class="layout-content">
  <div class="container">
    <h1>Scopes</h1>
    <table class="table-list">
      <thead>
        <tr>
          <th>Name</th>
          <th class="table-list__actions">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Grupo 1
          </td>
          <td class="table-list__actions">
            <a href="#" class="action-icon"><%= icon "check" %></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%= partial 'partials/template_bottom' %>
