---
title: Decidim Admin
---

<%= partial 'partials/template_top' %>

<main class="main">
  <div class="row collapse">
    <div class="row column">
      <div class="container">
        <h1>Usuarios</h1>
        <h2>Usuarios administradores <a href="#">Añadir</a></h2>
        <table class="table-list">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>DNI</th>
              <th>Teléfono</th>
              <th>Usuarios</th>
              <th>Fecha</th>
              <th class="table-list__actions">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                Grupo 1
              </td>
              <td>
                12345678T
              </td>
              <td>
                666 666 666
              </td>
              <td>
                3
              </td>
              <td>
                12/01/17
              </td>
              <td class="table-list__actions">
                <a href="#" class="action-icon"><%= icon "check" %></a>
              </td>
            </tr>
          </tbody>
        </table>
        <h2>Grupos de usuarios</h2>
        <table class="table-list">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>DNI</th>
              <th>Teléfono</th>
              <th>Usuarios</th>
              <th>Fecha</th>
              <th class="table-list__actions">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                Grupo 1
              </td>
              <td>
                12345678T
              </td>
              <td>
                666 666 666
              </td>
              <td>
                3
              </td>
              <td>
                12/01/17
              </td>
              <td class="table-list__actions">
                <a href="#" class="action-icon"><%= icon "check" %></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
