/* Foundation button overrides*/

.button{
  &.small{
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  &.tiny{
    padding-top: .25rem;
    padding-bottom: .25rem;
  }
}

.button--title{
  margin-bottom: 0;
  @include breakpoint(mediumlarge){
    float: right;
  }
}
