.form{
  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="tel"],
  input[type="password"],
  select{
    height: 3rem;
  }
  input,
  select,
  textarea{
    margin-bottom: 1.5rem;
  }

  label{
    font-weight: 600;
  }
}
