html,
body{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  & > .row{
    width: 100%;
    flex-grow: 1;
    @include breakpoint(medium){
      display: flex;
    }
  }
}

.layout-wrapper{
  display: flex;
  flex-grow: 1;
  @include clearfix;
  position: relative;
}

.layout-nav{
  width: 340px;
  @include breakpoint(mediumlarge down){
    position: absolute;
    top: 0;
    bottom: 0;
    width: 340px;
    //transform: translateX(-340px);
  }
}

.layout-content{
  flex-grow: 1;
}


.container{
  padding: 1.5rem 3rem;
  max-width: 1200px;
}
