.secondary-nav{
  background-color: $light-gray-dark;
  margin-top: 2rem;
  & > li > a{
    padding-left: 1.5rem;
  }
  a{
    border-bottom: 1px solid rgba(black, .05);
    color: $body-font-color;
    &:hover,
    &:focus{
      color: lighten($body-font-color, 20);
    }
  }
  li:last-child a{
    border-bottom: 0;
  }
}
