//Override Foundation defaults
.table-scroll table{
  width: 100%;
}

//Table list
.table-list{
  border-collapse: collapse;
  th{
    text-transform: uppercase;
  }

  th,
  td{
    border-bottom: 1px solid rgba(black, .05);
  }

  th:first-child,
  td:first-child{
    padding-left: 0;
  }

  th:last-child,
  td:last-child{
    padding-right: 0;
  }

  a:not(.button){
    color: $body-font-color;
    &:hover{
      color: $primary-color;
    }
  }
  td > .button{
    margin-bottom: 0;
  }

}

.table-list__actions{
  text-align: center;
  &:last-child{
    text-align: right;
  }
  .action-icon,
  a.action-icon{
    color: $muted;
  }
  .action-icon--remove{
    color: $alert-color;
  }
}

.table-list__state{
  text-align: center;
}

.icon-state.has-tip{
  border-bottom: 0;
}
